/* Reset some basic elements */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #767575;
    color: #333;
}

/* Body styling */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Main content area */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1600px;
    background-color: #999797;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1{
    color: rgb(15, 230, 15);
}

h2{
    color: rgb(15, 230, 15);
}

/* Add some spacing between elements */
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.5em;
    color: rgb(15, 230, 15);
}

p {
    margin: 10px 0;
    font-size: 1em;
    color: #ffffff;
}

/* Styling for links */
a {
    text-decoration: none;
    color: inherit;
}

/* Styling for fieldsets */
fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
}

fieldset:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for lists */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    font-size: 1em;
    color: #ffffff;
}

/* Footer styling */
footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9em;
    color: #999;
}

#tutorials {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.listtutorial {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 150px;
    text-align: center;
    border: 1px solid #ccc;
    transition: transform 0.2s;
    flex-shrink: 0;
}

button{
    background-color: rgb(15, 230, 15);
    color: #ffffff;
    border-radius: 8px;
    border: 2px 0px 2px 0px solid black;
    box-shadow: rgb(15, 230, 15);
}

button:hover{
    background-color: #ffffff;
    color: rgb(15, 230, 15);
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    background-color: #ffffff;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: rgb(15, 230, 15);
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tutorialSection{
    align-self: flex-start;
}