#kopf{
    display: flex;
    align-items: center; 
    background-color: #535353;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px; 
    height: 80px; 
}

#headerNav {
    display: flex;  
    justify-content: center;
    flex-grow: 1; 
    background-color: #767575;
    max-height: 20px;
}

#TitelDesApps:hover {
    background-color: #535353;
    text-decoration: none;
}

#hauptinhalt{
    display: flex;
    flex-direction: row;
}

#zusatzinformationen{
    background-color: #535353;
    height: 80%;
    margin-left: 30px;
}

#listmain{
    display: flex;
    justify-content: flex-start;
    
}

#tutorials{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}

#tutorialsuche{
    margin-bottom: 20px;
    width: 100%;
}

.listtutorial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    box-shadow: #535353;
}
