h1, h2 { 
    font-family: cursive; 
}
main { 
    display: flex; 
}
#bild {
    float: right;
    width: 20%;
    height: auto;
    margin: 10px;
}
nav {
    border-right: 1px solid;
    padding-right: 15px;
    margin-right: 15px;
}
nav a { 
    display: block; 
}
footer { 
    text-align: center; 
}

@media (max-width: 768px) {
    body{
        display: flex;
        align-items: center;
    }
    nav {
        border-right: none;
        border-bottom: 1px solid;
        padding-right: 0;
        padding-bottom: 15px;
        margin-right: 0;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-around;
    }
}

@media (max-width: 480px) {
    #bild {
        display: none;
    }
}
